<section id="intro">
  <!-- Header -->
  <div class="intro-header">
    <div class="container header-container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="intro-image col-md-3">
          <img src="/img/reuse.png" style="width: 60%; margin-top: 4em;"/>

          <center> <div style="width: 60%;margin-top: 3em;"><p>Best practices for license information in ways not only humans can read, but <i>computers</i> as well. Machine readable copyright and license information, simply put!</p></div></center>
          <br />

          <div style="clear: both; margin-bottom: 1em;">&nbsp;</div>
        </div>
        <div class="intro-message col-md-6">
          <center>
            <p>
            <video controls="controls" poster="/img/poster.jpg" crossorigin="crossorigin" width="80%">
              <source src="https://download.fsfe.org/videos/reuse/reuse_software_en_desktop.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (min-device-width:1000px)" />
              <source src="https://download.fsfe.org/videos/reuse/reuse_software_en_desktop.webm" type='video/webm; codecs="vp9, opus"' media="screen and (min-device-width:1000px)" />
              <source src="https://download.fsfe.org/videos/reuse/reuse_software_en_mobile.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (max-device-width:999px)" />
              <source src="https://download.fsfe.org/videos/reuse/reuse_software_en_mobile.webm" type='video/webm; codecs="vp9, opus"' media="screen and (max-device-width:999px)" />
            </video></p>
          </center>

          <hr class="intro-divider">
          <center>
            <p> We are making managing copyrights and licenses in free and open source software easier. Our best practices are meant to demonstrate how to add copyright and license information to a project in ways which allow for more automation. We know you want to focus on coding, but there are a few simple steps to take to make the copyright and license of your project more easily understood. </p>
            <a class="btn btn-default" href="/practices/2.0/">
              <i class="fa fa-book"></i> Read the practices</a>
            <a class="btn btn-default" href="/dev/">
              <i class="fa fa-laptop"></i> View developer docs </a>
            <hr />
            <p>The REUSE initiative is a project of the <a href="https://fsfe.org">Free Software Foundation Europe</a>. You are welcome to <a href="https://fsfe.org/contact">reach out to us</a>. Practices, related material and issues are also available in <a href="https://git.fsfe.org/reuse/">Git</a>.</p>
          </center>

        </div>
      </div> <!-- row -->
    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->
</section>
