<!--
  SPDX-License-Identifier: MIT
  SPDX-FileCopyrightText: 2020 Free Software Foundation Europe e.V. <https://fsfe.org>
-->
{{ $data := readFile "data/organisations.json" }}
{{ $unmarshaled := $data | unmarshal }}
{{ $orgs := where $unmarshaled "footer" true }}
{{ $img := "" }}
<div class="orgs">
  <p class="text-muted">Selected supporters and adopters:</p>
  <ul>
    {{ range sort $orgs "footer_order" "asc" }}
    <li class="org">
      <img src="/img/organisations/gray/{{ .img }}" title="{{ .name }}" {{ if .width_footer }}width="{{ .width_footer }}" height="auto"{{ end }}>
    </li>
    {{ end }}
  </ul>
</div>
