{{- /* <!--
    SPDX-License-Identifier: MIT
    SPDX-FileCopyrightText: 2022 Free Software Foundation Europe e.V. <https://fsfe.org>
  --> */ -}}
{{- /*  Set path of current page correctly  */}}
{{- $filepath := "/" }}
{{- with .File.Path }}{{ $filepath = . }}{{ end }}
{{- /*  Read file containing complete index translations  */}}
{{- $index_translated := "" }}
{{- if os.FileExists "i18n/.status" }}{{ $index_translated = os.ReadFile "i18n/.status" }}{{ end }}
{{- if not (eq .Language.Lang "en") }} {{/* NOT ENGLISH */}}
  <div class="alert alert-warning">
    <p>
      {{ replace (i18n "trans_inofficial") "%s" (relref . (dict "path" $filepath "lang" "en")) | markdownify }}
    </p>
  </div>
{{- else }} {{/* ENGLISH */}}
  {{- if .IsTranslated }}
    {{- /*  BUILD DICT/MAP OF AVAILABLE TRANSLATIONS  */ -}}
    {{- /* Maximum index of translations (number - 1) */ -}}
    {{- $trans := dict }}
    {{- range $index, $value := .Translations -}}
      {{- /*  If on index page, skip translations not being in i18n/.status  */}}
      {{- if and (eq $filepath "/") (not (in $index_translated .Lang)) }}
        {{- continue }}
      {{- end }}
      {{- $trans = merge $trans (dict .Language.LanguageName .RelPermalink) }}
    {{- end }}
    {{ if $trans }}
    <div class="alert alert-success">
      <div id="translist">
        <p>{{ i18n "trans_available" }}</p>
          {{- /* Output available translation dict $trans */}}
          <ul>
          {{- range $lang, $link := $trans }}
            <li><a href="{{ $link }}">{{ $lang }}</a></li>
          {{- end }}
          </ul>
      </div>
    </div>
    {{ end }}
  {{- end }}
{{- end }}
