<!--
  SPDX-License-Identifier: MIT
  SPDX-FileCopyrightText: 2015 Omar Abdelhafith <o.arrabi@me.com>
  SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V. <https://fsfe.org>
-->

{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="content">
  <div class="clearfix"></div>
  {{- $filepath := "/" }}
  {{- with .File }}{{- with .Path }}{{ $filepath = . }}{{ end }}{{ end }}
  {{ if hasPrefix $filepath "spec-" }}
    {{ partial "specifications.html" . }}
  {{ end }}
  <h1>{{ .Page.Title }}</h1>
  {{ if .Params.subtitle }}<h2 class="subtitle">{{ .Params.subtitle }}</h2>{{ end }}
  {{ partial "translation.html" . }}
  {{ .Content }}
</div>
{{ partial "footer.html" . }}
