# SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
# SPDX-License-Identifier: CC0-1.0

# Hugo build files
site/public/
site/.hugo_build.lock

# Docs from submodule
site/content/faq.md
site/content/spec.md
site/content/tutorial.md
# Translations from submodule
site/content/*/faq.md
site/content/*/spec.md
site/content/*/tutorial.md

# Translation status file created by check_translations.py
site/i18n/.status
