version: '3'
services:

  reuse-web:
    container_name: reuse-web
    build: .
    image: reuse-web
    restart: always
    volumes:
      - /srv/reuse/docs/pdf:/tmp/pdf:ro
    logging:
      driver: json-file
      options:
        max-size: "5m"
        max-file: "5"
    environment:
      - VIRTUAL_HOST=reuse.software,www.reuse.software
      - LETSENCRYPT_HOST=reuse.software,www.reuse.software
      - LETSENCRYPT_EMAIL=contact@fsfe.org

  # Connect the container which exposes the service to the 'bridge' network as
  # this is where the reverse proxy is
  connect-bridge:
    image: docker:dind
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - reuse-web
    command: /bin/sh -c 'docker network connect bridge reuse-web'
