# SPDX-FileCopyrightText: Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  reuse-web:
    container_name: reuse-web
    image: reuse-web
    restart: always
    build:
      context: .
      target: development
    logging:
      driver: json-file
      options:
        max-size: "5m"
        max-file: "5"
    # Reverse Proxy
    labels:
      proxy.host: "reuse.software"
      proxy.host_alias: "www.reuse.software"
      proxy.port: "6140"
    ports:
      - "6140:8080"
