/*
 * SPDX-License-Identifier: MIT
 * SPDX-Copyright: 2019 Free Software Foundation Europe e.V. <https://fsfe.org>
*/
/* NAVBAR */
img#logo {
  height: 100%;
}
.navbar-brand {
  padding: 8px 0;
}

/* HEADLINES */
h1 {
  margin: 2em 0 1em 0;
  text-align: center;
}
h1 { font-size: 40px; }
h2 { font-size: 34px; }
h3 { font-size: 28px; }
h1, h2, h3, h4, h5, h6 { color: #444; }

/* SOCIAL BUTTONS */
.social-links {
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  text-align: center;
  animation: fade 1s ease 1s both;
}
.social-links li {
  display: inline-block;
  padding: 5px;
  padding-top: 0;
  text-align: center;
}
.social-links li a {
  font-size: 20px;
  color: #666;
  padding: 10px;
  padding-bottom: 4px;
  transition: all .4s ease;
}
.social-links li a:hover {
  color: #000;
}
/* Scale social icons with hovering */
.social-links li a {
  font-size: 26px;
}
.social-links li a i {
  transform: scale(0.8);
  transition: transform .3s;
}
.social-links li a:hover i {
  transform: scale(1);
}

/* FOOTER */
footer {
  margin-top: 2em;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
}
footer p {
  text-align: center;
}
footer a {
  color: #444;
}
footer a:hover {
  color: #111;
}
/* STICK FOOTER BOTTOM */
@media(min-width: 992px) {
  div#wrap {
    min-height: 100%;
    position: relative;
  }
  footer {
    width: 100%;
    bottom: 0;
    height: 150px;
  }
  body {
    padding-bottom: 150px;
  }
}

/* MISC */
.noscript {
  background-color: #fcf8e3;
  border-bottom: 1px solid #faebcc;
  color: #8a6d3b;
  display: block;
  padding: 6px 12px;
  text-align: center;
}
/* Avoid scrollbar jumps in centering 
 * see https://css-tricks.com/eliminate-jumps-in-horizontal-centering-by-forcing-a-scroll-bar/
 */
div#wrap, nav {
  margin-left: calc(100vw - 100%);
}
@media(min-width:992px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }
}
