<!--
  SPDX-License-Identifier: MIT
  SPDX-Copyright: 2015 Omar Abdelhafith <o.arrabi@me.com>
  SPDX-Copyright: 2019 Free Software Foundation Europe e.V. <https://fsfe.org>
-->

{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<section id="services">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div>
          <div class="clearfix"></div>
          <h1>{{ .Page.Title }}</h1>
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
