<!--
  SPDX-License-Identifier: MIT
  SPDX-FileCopyrightText: 2020 Free Software Foundation Europe e.V. <https://fsfe.org>
-->
{{ $data := readFile "data/organisations.json" }}
{{ $unmarshaled := $data | unmarshal }}
{{ $orgs := where $unmarshaled "sponsor" true }}
<div class="table-responsive">
  <table class="table table-striped supporters">
    <tbody>
      {{ range sort $orgs "sponsor_order" "asc" }}
        <tr>
          <td><img src="/img/organisations/{{ .img }}" width="{{ .sponsor_width }}"></td>
          <td class="vcenter">{{ .name }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
